@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', arial, sans-serif;
    scroll-behavior: smooth;
}

/* Landing Section */
.home{
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-logo{
    width: 3.5rem;
}

.bg-light {
    background-color: white;
}

.home-img{
    width: 33.3%;
}

.home-title{
    font-weight: 500;
    letter-spacing: 0.6rem;
    cursor: default;
}

.home-arrow{
    margin: 1rem 0 0 0;
    width: 3rem;
    transition: 1s;
}

.home-arrow:hover{
    transform: scale(1.2);
}

/* About Section */

.about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
}

.kinaxis-logo{
    width: 30%;
}

.about-description{
    width: 40%;
    background: rgb(243, 243, 243);
    height: 100px;
    height: 50%;
    padding: 2rem;
    border-radius: 0.5rem 0.5rem 8rem 0.5rem; 
    box-shadow: 0 0.2rem 0.5rem grey;
}

.about-title{
    letter-spacing: 5px;
    margin-bottom: 2rem;
}

.about-data{
    line-height:2.2rem;
}

.bit-logo{
    width: 6rem;
    float: right;
}

/* Trailer Section */
.trailer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.trailer video{
  box-shadow: 0 0.2rem 0.5rem grey;
}

/* Poster Section */
.poster{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
    margin-bottom: 5rem;
}

.poster img{
  width: 60%;
  box-shadow: 0 0.2rem 10px grey;
}

/* Team Section */
.team{
    cursor: default;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-container{
    display: flex;
    justify-content: column;
    align-items: center;
    padding: 4rem;
    overflow-x: hidden;
}

.card-header-info{
    text-align: left;
}

.card-header-info h2 {
    color: #000000;
    font-size: 1.4rem;
  }
  
  .card{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: rgb(243, 243, 243) !important;
    box-shadow: 0px 2px 5px rgb(211, 211, 211);
    border: none;
    transition: .2s;
    cursor: default;
  }
  
  .team::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }
  
  .team::-webkit-scrollbar-thumb{
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0,0,0,.25);
    
  }
  
  .team::-webkit-scrollbar-track{
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0);
  }
  
  .team p{
    transition: 0.5s;
    color: rgb(207, 24, 24);
    font-weight: bold;
    letter-spacing:0.2rem;
  }
  
  .card:hover{
    transform: translateY(-1.5rem);
  }
  
  .card:hover~.card{
    transform: translateX(130px);
  }
  
  .card:not(:first-child){
    margin-left: -130px;
  }
  
  .card:last-of-type:hover .user-info{
    font-size: 1.2rem;
    transform: none;
  }
  
  .card-author{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-author img{
    width: 130px;
    height: 150px;
    border-radius: 1rem;
    box-shadow: 3px 3px 2px rgb(190, 190, 190);
    transition: 0.2s;
  }
  
  .card:hover img{
    transform: scale(1.05);
    box-shadow: none;
  }
  
  .user-info{
    font-size: 1.1rem;
    margin-right: 2rem;
    transition: 0.5s;
  }
  
  .card:hover .user-info{
  /*   transform: translateX(-2rem); */
    font-size: 1.2rem;
  }
  
  ul, li{
    list-style: none;
    margin: 10px 0;
    color: #000000;
  }
  
  .user-info-section{
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .user-bio{
    width: 100%;
    height: 100%;
  }

/* Current Phase Section */
  .phase{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .phase-content{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 75%;
    padding: 2rem;
    background: rgb(243, 243, 243);
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.5rem grey;
  }

  .phase-info-cotainer{
    display: flex;
    flex-direction: column;
  }

  .phase-title{
    margin: 2rem 0;
  }

  .phase-img{
    width: 40%;
    border-radius: 1rem;
  }

  /* User Testing Section */
  .testing{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .downloads-section, .submission-section{
    background: rgb(243, 243, 243);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0.2rem 0.5rem grey;
  }

  .submission-buttons{
    display: flex;
    justify-content: space-between;
  }

/* Videos Section */
  .videos{
    cursor: default;
    width: 100%;
  }

  .video-container{
    max-width: 75%;
    margin: 0 auto 5rem auto;
  }

  .video{
    border: none;
    border-radius: 0.2rem;
  }

  .video-item{
    margin: 2rem 0 0.5rem 0;
  }

/* Footer */
.social-links-container{
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin: 0 auto;
}

.social-links{
  color: black;
}

.title{
  margin: 2rem;
}

.align-center{
  text-align: center;
}